@import "../../../node_modules/tailwindcss";
a{
    text-decoration: none !important;
}
.swiper-pagination-bullet {
    @apply w-4 h-4 md:w-6 md:h-6 !bg-white/90 rounded-full mx-1 transition-all duration-300;
}

.swiper-pagination-bullet-active {
    @apply !bg-white scale-150;
}

.main-background {
    background-color: #A40000;
}

.main-border{
    border: 2px solid #A40000;
}

.main-color{
    color: #A40000;
}

.about {
    background-image: url('/map.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right center;
    height: 600px;
}

@media (max-width: 768px) {
    .about {
        background-image: url('/mobile-map.webp');
    }
}